body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, sans-serif;
}

.logo {
    height: 126px;
    margin-left: 10%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 115px;
    z-index: 1;
    background-color: white;
}

.headerTitle {
    color: white;
    font-weight: bold;
    font-size: 44px;
    font-family: 'Cinzel', serif;
}

.slogan {
    color: white;
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.links {
    margin: 15px;
    text-decoration: none;
}

.homeArea .controlDiv {
    background-image: url(./images/Denver_skyline.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.aboutArea .controlDiv {
    background-color: rgb(235, 235, 235);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.servicesArea .controlDiv {
    background-color: rgb(107, 235, 255);
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

.landingContainer {
    width: 50vw;
    padding:  200px 0 0 200px;
}

.homeArea {
    width: 100%;
    height: 100vh;
    padding-top: 115px;
}

.aboutArea {
    width: 100%;
    height: 100vh;
    padding-top: 115px;
}

.servicesArea {
    width: 100%;
    min-height: 100vh;
    padding-top: 115px;
    background-color: rgb(107, 235, 255);
}

.contactArea {
    width: 90%;
    height: 100vh;
    padding-top: 115px;
    margin: 0 auto;
}

.eachServiceContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.eachService {
    width: 300px;
    height: 450px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
}

.serviceTitle {
    text-align: center;
    margin-top: 64px;
}

.serviceImage {
    width: 100%;
}

.contactContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.areaTitle {
    margin-top: 50px;
}

@media (max-device-width: 499px) {
    .navbar {
        height: 200px;
    }

    .nav {
        margin: 0;
        padding-left: 0;
        margin-right: 40px;
    }

    .logo {
        height: 220px;
        margin: 0;
    }

    .links {
        font-size: 40px;
    }

    .landingContainer {
        margin: auto;
        margin-top: 200px;
    }

    .slogan {
        font-size: 50px;
    }

    .headerTitle {
        font-size: 80px;
    }

    .eachServiceContainer {
        display: block;
        min-height: 100vh;
    }

    .eachService {
        margin: auto;
        margin-bottom: 30px;
        width: 700px;
        height: 1000px;
    }

    .servicesArea {
        min-height: 150vh;
    }

    .contactContainer {
    /* margin-top: 200px; */
    }

    label {
        font-size: 50px;
    }

    input {
        height: 100px;
        font-size: 40px;
    }

    textarea {
        height: 300px !important;
        font-size: 40px;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .homeArea {
        padding-top: 40px;
    }

    .landingContainer {
        padding:  50px 0 0 50px;
    }

    .areaTitle {
        margin-top: 250px;
    }

}
