body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, sans-serif;
}

.logo {
    height: 126px;
    margin-left: 10%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 115px;
    z-index: 1;
    background-color: white;
}

.headerTitle {
  color: white;
  font-weight: bold;
  font-size: 44px;
  font-family: 'Cinzel', serif;
}

.slogan {
    color: white;
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.links {
    margin: 15px;
    text-decoration: none;
}

.homeArea .controlDiv {
    background-image: url(./images/Denver_skyline.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.aboutArea .controlDiv {
    background-color: rgb(235, 235, 235);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.servicesArea .controlDiv {
    background-color: rgb(107, 235, 255);
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

.landingContainer {
    width: 50vw;
    margin: 200px 0 0 200px;
}

.homeArea {
    width: 100%;
    height: 100vh;
    padding-top: 115px;
}

.aboutArea {
    width: 100%;
    height: 100vh;
    padding-top: 115px;
}

.servicesArea {
    width: 100%;
    min-height: 100vh;
    padding-top: 115px;
    background-color: rgb(225, 225, 225)
}

.contactArea {
    width: 100%;
    height: 100vh;
    padding-top: 115px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.eachServiceContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.eachService {
    width: 300px;
    height: 450px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
}

.serviceTitle {
    text-align: center;
    margin-top: 64px;
}

.serviceImage {
    width: 100%;
    height: 100%;

}
.imgContainer {
  height: 200px;

}

@media (max-device-width: 499px) {
    .navbar {
        height: 200px;
    }

    .nav {
        margin: 0;
        padding-left: 0;
        margin-right: 40px;
    }

    .logo {
        height: 220px;
        margin: 0;
    }

    .links {
        font-size: 40px;
    }

    .landingContainer {
        margin: auto;
        margin-top: 200px;
    }

    .slogan {
        font-size: 50px;
    }

    .headerTitle {
        font-size: 80px;
    }

    .eachServiceContainer {
        display: block;
        min-height: 100vh;
    }

    .eachService {
        margin: auto;
        margin-bottom: 30px;
        width: 700px;
        height: 1000px;
    }

    .servicesArea {
        min-height: 150vh;
    }
    .imgContainer {
      height: 500px;

    }
}
